<div class="container-fluid">
  <div class="row">
    <div style="margin-top: 30px;" class="col-6">
      <a href="/login" class="btn btn-secondary">Login</a>
       or <a href="/register" class="btn btn-secondary">Register</a>
    </div>
  </div>
</div>
